body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

header {
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 10;
}

.header1 {
    background-color: #002244;
    color: white;
    display: flex;
    gap: 2px;
    font-size: small;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header1 img {
    margin-left: 24px;
}

.logo1 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo1 p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: xx-large;
    font-weight: bolder;
}

.logo2 {
    font-size: xx-small;
    font-weight: 700;
    position: absolute;
    margin-top: -40px;
}

.circle1 {
    width: 10px;
    height: 10px;
    border: #4FA0DA;
    border-radius: 50px;
    background-color: #4FA0DA;;
}
.circle2 {
    width: 10px;
    height: 10px;
    border: #7CC32B;
    border-radius: 50px;
    background-color: #7CC32B;
}
.circle3 {
    width: 10px;
    height: 10px;
    border: #DF0231;
    border-radius: 50px;
    background-color: #DF0231;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.header2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

.section1 {
    position: relative;
    background: url(../../fixtures/pexels-zhangkaiyv-1139556.jpg) no-repeat center center;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    overflow: auto;
}

.section2 {
    height: 90vh;
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
    background: rgba(0, 0, 0, 0.5);
}

.about-topic {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
}
.about-describe {
    padding: 56px;
    display: flex;
    justify-content: space-evenly;
}
.describe {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.describe img {
    width: 120px;
    padding: 8px;
}
.describe q, li {
    line-height: 1.5rem;
}

.review {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DDB982;
    border-bottom: 1px solid #DDB982;
    padding: 24px;
    position: relative;
    margin-top: 120px;
}
.review .start-rating .checked {
    color: #DDB982;
}
.review .start-rating .checked:hover {
    color: #1E73BE;
}

footer {
    height: 78vh;
    background-color: #001B33;
    color: white;
    padding-top: 40px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    row-gap: 64px;
    column-gap: 56px;
}

.bulletin::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 6px;
}

.solutions, .quicklinks, .services {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.aboutus, .address {
    line-height: 1.5rem;
}

.footer-title {
    font-size: x-large;
    font-weight: 100;
    color: #92D662 ;
}

.copyrights {
    background-color: #001223;
    color: white;
    width: 100vw;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 4px;
    display: flex;
    justify-content: center;
}